<form [formGroup]="todoForm" (submit)="onSubmit()">

  <table class="table table table-hover table-light border-info text-black">
        <thead>
          <tr>
              <th scope="col">Task Name</th>
              <th scope="col">Description</th>
              <th scope="col">Due Date</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
      <tr *ngFor="let task of tasks">
      <td>
        <ngb-highlight [result]="task.name"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="task.description"></ngb-highlight></td>
      <td>{{task.dueDate}}</td>
        <td>{{task.status}}</td>
        <td class="align-middle">
            <i class="fa-sharp fa-solid fa-pencil text-success" aria-hidden="true" placement="top" ngbTooltip="Edit" (click)="updateTask(task, task.id)">
              <fa-icon icon="pencil"></fa-icon>
            </i>
          &nbsp;
          <i class="fa-trash-o text-danger" placement="top" aria-hidden="true" ngbTooltip="Remove" (click)="deleteTask(task.id)">
              <fa-icon icon="trash"></fa-icon>
          </i>
        </td>
    </tr>
    </tbody>
  </table>
</form>
